body {font-family: 15px Arial, sans-serif;}
nav a {color: #eeeeee;}
h1, h2 {color: gold; }
.evenrow {background-color: #FFFFFF; }
h1 {font-size: 3em; }
h2 {font: 2em; }
body {
    background-color: #5095C7;
}